@import './base/base.css';
@import 'modern-normalize';
@import './base/global-fix.css';
/* @import './base/reset.css'; */
@import './control.css';
@import './today_weather.css';
@import './weather_three_days.css';
@import './map.css';

html {
    font-size: 16px; /* 1rem = 16px */
}

body {
    overflow-x: hidden;
}

.container {
    width: 100%;
}

.content {
    position: relative;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content auto auto;
    background:
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
        url('../img/bg.jpg');

    background-size: cover; /* Растягивает изображение так, чтобы оно заполняло весь блок */
    background-position: center; /* Центрирует изображение */
    background-repeat: no-repeat; /* Запрещает повторение */
    width: 100%;
    min-height: 100vh;
    padding: 0 90px;
    margin: 0 auto;
}
.content * {
    z-index: 1;
}
.content::before {
    content: '';
    position: absolute;
    inset: 0; /* то же самое, что top: 0; right: 0; bottom: 0; left: 0; */
    background-color: rgba(0, 0, 0, 0.2); /* полупрозрачный черный */
    z-index: 0; /* чтобы быть под контентом */
}


.error-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    text-align: center;
    padding: 2rem;
}
.error-container .error-message {
    max-width: 500px;
}




@media (max-width: 1080px) {
    .content {
        grid-template-rows: min-content auto auto;
        padding: 0 50px;
    }
}


@media (max-width: 630px) {
    .content {
        grid-template-rows: min-content auto auto auto;
    }
}

@media (min-width: 1900px) {
    .content {
        padding: 0 10% 0 10%;
    }
}



