.map {
    color:  #fff;
    grid-column: 2;
    grid-row: 2 / 4;
    align-self: center; /* Центрирование по вертикали */
}

.map__container {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.map__mapEl {
    height: 460px;
    width: 460px;
    border-radius: 15px;
}

.map__geolocation {
    text-align: right;
    margin-top: 15px;
}



@media (max-width: 1280px) {
    .map__mapEl {
        width: 360px;
        height: 360px;
    }
}


@media (max-width: 1080px) {
    .map {
        grid-column: 1 / 3;
        grid-row: 3;
    }
    .map__container {
        align-items: center;
    }
    .map__mapEl {
        width: 100%;
        height: 300px;
    }
    .map__geolocation {
        margin-bottom: 20px;
    }
}

@media (max-width: 630px) {
    .map {
        grid-row: 4;
    }
}