.map {
    color:  #fff;
    grid-column: 2;
    grid-row: 2 / 4;
    align-self: center; /* Центрирование по вертикали */

    display: flex;
    flex-direction: column;
    align-items: end;
}

.map__mapEl {
    height: 28.75rem;   /* 460px */
    width: 28.75rem;    /* 460px */
    border-radius: 15px;
}

.map__geolocation {
    text-align: right;
    margin-top: 15px;
    font-size: 1rem;
}

.map__latitude-name::after, .map__longitude-name::after {
    content: ":";
} 


@media (max-width: 1280px) {
    .map__mapEl {
        width: 22.5rem;     /* 360px */   
        height: 22.5rem;    /* 360px */       
    }
}


@media (max-width: 1080px) {
    .map {
        grid-column: 1 / 3;
        grid-row: 3;
        align-items: center;
    }
    .map__mapEl {
        width: 100%;
        height: 18.75rem;   /* 300px */
    }
    .map__geolocation {
        margin-bottom: 20px;
    }
    .map__geolocation {
        font-size: 0.875rem;    /* 14px */
    }
}

@media (max-width: 630px) {
    .map {
        grid-row: 4;
    }
}


@media (min-width: 1900px) {
    .map__geolocation {
        font-size: 1.25rem;     /* 20px */
    }
}