.map {
    color:  #fff;
    grid-column: 2;
    grid-row: 2 / 4;
    align-self: center; /* Центрирование по вертикали */
}

.map__map-img {
    border-radius: 15px;
}
.map__geolocation {
    text-align: right;
    margin-top: 15px;
}