.today-weather {
    color: #fff;
    grid-column: 1;
}

.today-weather__city-country {
    font-size: 2.75rem; /* 44px -> rem */
    font-weight: 700;
    text-transform: uppercase;
}
.today-weather__today-date-time {
    font-size: 1.5rem; /* 24px -> rem */
    font-weight: 600;
}
.today-weather__temperature-today {
    display: flex;
    font-weight: 700;
    z-index: 1;
    height: fit-content;
}
.today-weather__num-temperature-today {
    font-size: 19.125rem; /* 306px */
    display: flex;
}

.today-weather__num-temperature-today::after {
    content: " ° ";
    font-size: 6.25rem; /* 100px */
    margin-left: 18px;
    margin-top: 60px;
}

.today-weather__data-weather {
    display: flex;
    justify-content: space-between;
    gap: 2rem; /* 32px */
    margin-bottom: 70px;
}

.today-weather__weather-details {
    position: relative;
    font-size: 1.375rem; /* 22px */
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2.3125rem; /* 37px */
    white-space: nowrap;
    transform:translateY(-42px);
}
.today-weather__weather-icon {
    position: relative;
    max-width: unset;
    width: 12.5rem;     /* 200px */
    height: 12.5rem;    /* 200px */
    transform:translateX(-52px);
}
.today-weather__details-list {
    list-style: none;
}


@media (max-width: 1280px) {
    .today-weather__city-country {
        font-size: 2.125rem; /* 34px */
    }
    .today-weather__today-date-time {
        font-size: 0.875rem; /* 14px */
    }

    .today-weather__data-weather {
        width: min-content;
        gap: 2.1875rem; /* 35px */
    }
    .today-weather__num-temperature-today {
        font-size: 16rem; /* 256px */
    }
    .today-weather__num-temperature-today::after {
        font-size: 4.375rem; /* 70px */
        margin-top: 50px;
    }
    .today-weather__weather-details {
        font-size: 1.125rem; /* 18px */
        transform:translateY(-89px);
    }
    .today-weather__weather-icon {
        transform: translate(-70px, 10px);
    }
}

@media (max-width: 1080px) {
    .today-weather {
        grid-column: 1/3;
        margin-right: 20px;
    }
    .today-weather__data-weather {
        gap: 1.5625rem; /* 25px */
        margin: 0 auto;
    }
    .today-weather__num-temperature-today {
        font-size: 13.175rem; /* 210.8px */
    }
    .today-weather__weather-icon {
        width: 9.375rem;    /* 150px */
        height: 9.375rem;   /* 150px */
        transform: translate(-47px, 10px);
    }
    .today-weather__num-temperature-today::after {
        font-size: 3.75rem; /* 60px */
        margin-top: 30px;
        margin-left: 10px;
    }
    .today-weather__weather-details {
        font-size: 1.375rem; /* 22px */
        line-height: 2.175rem; /* 34.8px */
        transform:translateY(-77px);
    }
}

@media (max-width: 630px) {
    .today-weather {
        margin: 0 auto;
    }
    .today-weather__data-weather {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    .today-weather__weather-details {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .today-weather__weather-icon {
        transform: unset;
        margin: 0 auto;
    }
}


@media (max-width: 480px) {
    .today-weather__weather-icon {
        width: 12.5rem;     /* 200px */
        height: 12.5rem;    /* 200px */
    }
}




@media (min-width: 1900px) {
    .today-weather__city-country {
        font-size: 3.125rem; /* 50px */
    }
    .today-weather__today-date-time {
        font-size: 1.875rem; /* 30px */
    }
    .today-weather__num-temperature-today {
        font-size: 19.5rem; /* 312px */
    }
    .today-weather__num-temperature-today::after {
        font-size: 6.625rem; /* 106px */
    }
    .today-weather__weather-details {
        font-size: 1.75rem; /* 28px */
    }
}