.weather-three-days {
    color: #fff;
    grid-column: 1;
}

.weather-three-days__container {
    display: flex;
    gap: 51px;
}

.day {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: 27px 1fr;
    row-gap: 13px;
}

.day__day-week {
    grid-column: 1 / 3;
}
.day__day-week {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}


.day__temperature {
    display: flex;
    font-size: 80px;
}
.day__num-temperature {
    font-size: 80px;
}

.day__weather-icon-container {
    position: relative;
    width: 60px;
    height: 60px;
}
.day__weather-icon {
    position: absolute;
    top: -16px;
    right: -20px;
    max-width: unset;
    width: 90px; /* Можно уменьшить размер (например, 50px) */
    height: 90px;
}

@media (max-width: 1280px) {
    .day__temperature, .day__num-temperature {
        font-size: 70px;
    }
}

@media (max-width: 1080px) {
    .weather-three-days {
        grid-column: 2;
        /* width: max-content; */
        align-items: center;
        align-self: center;
        margin: 0 auto;
    }
    .weather-three-days__container {
        flex-wrap: wrap;
        row-gap: 15px;
        column-gap: 25px;
        /* align-items: center; */
        /* width: min-content; */
        /* align-content: center; */
        justify-content:space-around;
    }
    .day {
        row-gap: 5px;
    }
    .day__temperature, .day__num-temperature {
        font-size: 40px;
    }
    .day__degree-temperature {
        font-size: 30px;
    }
    .day__weather-icon {
        right: 0;
        top: -14px;
        width: 60px;
        height: 60px;
    }
}


@media (max-width: 630px) {
    .weather-three-days {
        grid-column: 1 / 3;
        grid-row: 3;
    }
}


@media (min-width: 1900px) {
    .day__day-week {
        font-size: 30px;
    }
    .day__temperature, .day__num-temperature {
        font-size: 86px;
    }
    .day__weather-icon-container {
        width: 70px;
    }
    .day__weather-icon {
        width: 100px;
    }
}